* {
    margin: 0;
    margin: 0;
}

#wrapper {
    background: rgb(34, 158, 75);
    background-size: cover;
    width: 100%;
}
#content {
    background: rgb(67, 39, 146);
    opacity: 0.9;
    margin: auto;
}
#content h1 {
    text-align: center;
    width: 100%;
    opacity: 1;
    background: gray;
}
#content input, label {
    margin-top: 10px;
    margin-bottom: 10px;
}
#result {
    width: 100%;
    text-align: center;
    font-size: 150%;
    background: yellow;
}
@media screen and (min-width: 768px) {
    #content {
        width: 60%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    #content {
        width: 100%;
    }
}