* {
    margin: 0;
    padding: 0;
}
#wrap {
    background-color: rgb(173, 177, 126);
    text-align: center;
    width: 50%;
}
#content {
    width: 60%;
    background: rgb(123, 180, 207);
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: left;
}
.element {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
}
.element input {
    margin: 20px;
    border: 1px solid black;
}